<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- config -->
    <type name="MateuszMesek\DocumentDataIndexSync\Model\Config">
        <arguments>
            <argument name="data" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">document_data_sync_config_cache</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">document_data_sync.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/document" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MateuszMesek\DocumentDataIndexSync\Model\Config\Converter">
        <arguments>
            <argument name="documentProcessor" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config\Converter\Document</argument>
        </arguments>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\Config\SchemaLocator" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">MateuszMesek_DocumentDataIndexSync</argument>
            <argument name="schema" xsi:type="string">document_data_sync.xsd</argument>
        </arguments>
    </virtualType>
    <!-- indexer -->
    <type name="Magento\Framework\Indexer\Config\Reader">
        <plugin name="MateuszMesek_DocumentDataIndexSync" type="MateuszMesek\DocumentDataIndexSync\Plugin\InjectIndexers\OnIndexerConfigReader"/>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexerAction" type="MateuszMesek\DocumentDataIndexIndexer\Model\Action">
        <arguments>
            <argument name="indexStructureBuilder" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexStructureBuilder</argument>
            <argument name="idsResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IdsResolver</argument>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\DimensionalIndexer</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexStructureBuilder" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexStructureBuilder">
        <arguments>
            <argument name="indexStructureBuilderFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexStructureBuilderFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexStructureBuilderFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexStructureBuilderFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
            <argument name="arguments" xsi:type="array">
                <item name="indexNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexNameResolver</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexNameResolver" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexNameResolver">
        <arguments>
            <argument name="indexNameResolverFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexNameResolverFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexNameResolverFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexNameResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IdsResolver" type="MateuszMesek\DocumentDataIndexIndexer\Model\IdsResolver">
        <arguments>
            <argument name="indexIdsResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexIdsResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexIdsResolver" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexIdsResolver">
        <arguments>
            <argument name="indexIdsResolverFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexIdsResolverFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\IndexIdsResolverFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\IndexIdsResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
            <argument name="arguments" xsi:type="array">
                <item name="readHandler" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ReadHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\ReadHandler" type="MateuszMesek\DocumentDataIndexIndexer\Model\ReadHandler">
        <arguments>
            <argument name="readHandlerFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ReadHandlerFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\ReadHandlerFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\ReadHandlerFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
            <argument name="arguments" xsi:type="array">
                <item name="indexNameResolverFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\IndexNameResolverFactory</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\DimensionalIndexer" type="MateuszMesek\DocumentDataIndexIndexer\Model\DimensionalIndexer">
        <arguments>
            <argument name="dataResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\DataResolver</argument>
            <argument name="saveHandler" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\SaveHandler</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\DataResolver" type="MateuszMesek\DocumentDataIndexIndexer\Model\DataResolver">
        <arguments>
            <argument name="dataResolverFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\DataResolverFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\DataResolverFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\DataResolverFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\SaveHandler" type="MateuszMesek\DocumentDataIndexIndexer\Model\SaveHandler">
        <arguments>
            <argument name="saveHandlerFactory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\SaveHandlerFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\SaveHandlerFactory" type="MateuszMesek\DocumentDataIndexIndexer\Model\SaveHandlerFactory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
        </arguments>
    </virtualType>
    <!-- mview -->
    <type name="Magento\Framework\Mview\Config\Reader">
        <plugin name="MateuszMesek_DocumentDataIndexSync" type="MateuszMesek\DocumentDataIndexSync\Plugin\InjectViews\OnViewConfigReader"/>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\MviewAction" type="MateuszMesek\DocumentDataIndexMview\Model\Action">
        <arguments>
            <argument name="changelogListProvider" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ChangelogListProvider</argument>
            <argument name="dimensionalIndexer" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\DimensionalIndexer</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\ChangelogListProvider" type="MateuszMesek\DocumentDataIndexMview\Model\ChangelogListProvider">
        <arguments>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ChangelogTableNameResolver</argument>
        </arguments>
    </virtualType>
    <!-- mview subscriptions -->
    <type name="Magento\Framework\Mview\View\SubscriptionInterface">
        <plugin name="MateuszMesek_DocumentDataIndexSync" type="MateuszMesek\DocumentDataIndexSync\Plugin\UpdateDbTriggers\OnSubscription"/>
    </type>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Plugin\UpdateDbTriggers\OnSubscription" type="MateuszMesek\DocumentDataIndexMview\Plugin\UpdateDbTriggers\OnSubscription">
        <arguments>
            <argument name="documentNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\DocumentNameResolver</argument>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ChangelogTableNameResolver</argument>
            <argument name="triggerProvider" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\TriggerProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\DocumentNameResolver" type="MateuszMesek\DocumentDataIndexMview\Model\DocumentNameResolver">
        <arguments>
            <argument name="key" xsi:type="string">sync_document_name</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\ChangelogTableNameResolver" type="MateuszMesek\DocumentDataIndexMview\Model\ChangelogTableNameResolver">
        <arguments>
            <argument name="prefix" xsi:type="string">document_data_sync_</argument>
            <argument name="suffix" xsi:type="string">_mview</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\TriggerProvider" type="MateuszMesek\DocumentDataIndexMview\Model\TriggerProvider">
        <arguments>
            <argument name="subscriptionProvider" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\SubscriptionProvider</argument>
            <argument name="changelogTableNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\ChangelogTableNameResolver</argument>
            <argument name="triggerNameResolver" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\TriggerNameResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\SubscriptionProvider" type="MateuszMesek\DocumentDataIndexMview\Model\SubscriptionProvider">
        <arguments>
            <argument name="factory" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\SubscriptionProvider\Factory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\SubscriptionProvider\Factory" type="MateuszMesek\DocumentDataIndexMview\Model\SubscriptionProvider\Factory">
        <arguments>
            <argument name="config" xsi:type="object">MateuszMesek\DocumentDataIndexSync\Model\Config</argument>
            <argument name="defaultType" xsi:type="string">MateuszMesek\DocumentDataIndexSync\Model\SubscriptionProvider\DefaultProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="MateuszMesek\DocumentDataIndexSync\Model\TriggerNameResolver" type="MateuszMesek\DocumentDataIndexMview\Model\TriggerNameResolver">
        <arguments>
            <argument name="prefix" xsi:type="string">document_data_sync_</argument>
        </arguments>
    </virtualType>
</config>
